body {
    padding: 0;
    padding: 0;
    background: #2B2B2B;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
}
ul, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    width: 1074px;
    margin: 0 auto;
}
// home
@import "./components/header";
@import "./components/digital";
@import "./components/collection";
@import "./components/creators";
@import "./components/categories";
@import "./components/galaxy";
@import "./components/magic";
@import "./components/setup";
@import "./components/weekly";
@import "./components/footer";


@media (max-width: 1200px) {
    .container {
        width: 1074px;
    }
}
@media (max-width: 1074px) {
    .container {
        width: 834px;
    }
}
@media (max-width: 834px) {
    .container {
        width: 768px;
    }
}
@media (max-width: 768px) {
    .container {
        width: 375px;
    }
}
@media (max-width: 375px) {
    .container {
        width: 320px;
    }
}